# This file documents code ownership. Code must pass GitHub review from the following
# users in order to merge into master.
# First argument indicates directory (* for "all").
# Second argument indicates GitHub user.

* @gabrielestes
* @TurnerMooreDavis
